<div class="row" style="justify-content: center">

  <div class="col-lg-6">

    <div class="card text-black bg-light border-primary mb-3" style="margin-top:75px;">
      <div class="card-body">
        <h4 class=" card-header bg-primary text-white" align="center">User Register</h4>

        <form (submit)="onRegisterSubmit()">
            <div class="form-group">
                <label for="lab name" class="col-form-label">User Role</label>
                <select [(ngModel)]="userrole" name="userRole" class="form-control">
    
                  <option *ngFor="let option of userRole" [value]="option.id"> {{ option.name }} </option>
                </select>
              </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder=" Enter Password">
          </div>
          <input type="submit" class="btn badge-pill btn-primary" value="Submit">


        </form>

      </div>
    </div>
  </div>
</div>