<div class="row" style="justify-content: center">

  <div class="col-lg-9">

    <div class="card text-black bg-light border-primary mb-3" style="margin-top:50px;">
      <div class="card-body">
        <h4 class=" card-header bg-primary text-white" align="center">LAB RESERVATION</h4>

      
          <div class="jumbotron">
            <!-- <h1 class="display-3" align="center">LAB RESERVATION</h1> -->
            <form (submit)="onReserve()">
              <div class="form-group">
                <div *ngIf="user">
                  <label for="username" class="col-form-label">User Name</label>

                  <input type="text" [(ngModel)]="user.username" name="username" class="form-control" id="username" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="lab name" class="col-form-label">Lab Name</label>
                    <select [(ngModel)]="labno" name="Labname" class="form-control" (change)="onChange($event.target.value)">

                      <option *ngFor="let option of Labname" [value]="option.id" > {{ option.name }} </option>
                    </select>
                    <!-- <input type="text" [(ngModel)]="labname" name="labname" class="form-control" id="labname" placeholder="Enter lab Name"> -->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" [(ngModel)]="date" name="date" class="form-control" id="date" placeholder="Enter Date" (input)="onSearchChange($event.target.value)">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="timesolt" class="col-form-label">Pick The Time Slot</label>



                    <div *ngFor="let option of timeOptions">
                      <label>
                        <input  [disabled]="option.disable" type="checkbox" name="options" value="{{option.value}}" [(ngModel)]="option.checked" [name]="option.name"> {{option.name}}
                      </label>
                    </div>
                  </div>


                </div>

                <!-- <div class="col-lg-6">    
              <div class="form-group">
                <label for="time out">Time-Out</label>
                <select [(ngModel)]="TimeOut" name="Timeout" class="form-control">

                    <option *ngFor="let option of Timeout" [ngValue]="option.id"> {{ option.name }} </option>
                
                  </select>
              </div>
              </div> -->
              </div>
              <input type="submit" class="btn badge-pill btn-primary" value="Submit">


            </form>

          </div>
        
      </div>
    </div>
    </div>
    </div>